<div>
  <h3>Welcome {{user}}</h3>
  {{#each dogs}}
    <div>
      <img src="{{this.image}}" />
      <a href="/dogs/{{id}}">Click to see {{name}}</a>
      <button
        id="btn-{{id}}"
        class="delete-btn"
        onclick="deleteDog({{id}})"
      >Delete</button>
    </div>
  {{/each}}
  <div>
    <a href="/new-dog" class="new-dog-btn">Add New Dog!</a>
  </div>
</div>
<script src="/dogs.js"></script>